.container-fluid, .row {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.admin-left-col {
    background-color: rgba(20, 20, 20, 0.3);
    padding: 1.5vh;
}

.admin-left-col > div {
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1vh;
    justify-content: center;
}

.admin-left-col > div:hover {
    background-color: rgba(20, 20, 20, 1);
    cursor: pointer;
}

.foot-row {
    height: 1.5vh;
    max-height: 1.5vh;
    justify-self: flex-end;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 4vh;
    align-items: flex-end;
}

div#btn-left :hover, #btn-right :hover {
    background-color: rgba(20, 20, 20, 0.2);
    cursor: pointer;
}

div#buttons > div {
    padding: 2vh;
}


div#table {
    display: flex;
    text-align: center;
}

div#table > table > tr > td {
    padding: 0.5vh;
}