.navek{
    background-color: #181818;
    color: red;
}
.mid-row{
    background-color: #252525;
    color: white;
    padding:10px;
    min-height:88.9vh;
}
.foot-row{
    background-color: #181818;
    color: white;
}
.img-main{
    background-color: #181818;
    padding-bottom:5px;
}
.img-title{
    padding:5px;
}
.main-col{
    padding: 5px;
}
.comment{
    background-color: #181818;
    color:white;
    padding: 5px;
}
.comment-buttons{
    padding:5px;
    text-align: center;
    
}
.user-data, .user-pfp{
    background-color: #181818;
    padding-bottom:5px;
}
.user{
    padding:5px;
    top: 72px;
}