.upper-row{
    background-color: #181818;
    color: red;
}
.mid-row{
    background-color: #252525;
    color: white;
}
.foot-row{
    background-color: #181818;
    color: white;
}
img{
    width:400px;
    height:auto;
}